/* [+] Content 
=================================== 
- Reset
- grid
*/


/* [+] Reset 
============================= */

html,
body,
ul,
ol,
li,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

header,
nav,
main,
section,
article aside,
figure,
figcaption,
footer {
    display: block;
    /* HTML5 Elements to render correctly in IE10 and old browsers */
}

html {
    font-size: 62.5%;
    /* this percentage will convert all rem based unit to 10px sizing i.e. : 1.2rem = 12px*/
    box-sizing: border-box;
    /* allows padding and border to element without affecting actual width */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6em;
    line-height: 1.5;
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
    /* -webkit-text.. prevent font size adjustment once orientation changes */
    background: #fff;
    color: #333;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

iframe {
    border: 0;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}


/* [+] Grid 
============================= */

.container,
.container-fluid {
    width: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1170px;
    }
}

.container::before,
.container::after,
.container-fluid::before,
.container-fluid::after {
    content: "";
    display: table;
    clear: both;
}

.flex {
    margin-left: -15px;
    margin-right: -15px;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding-left: 15px;
    padding-right: 15px;
}

.col {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@media screen and (min-width:769px) {
    .flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
    }
    .col-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
        max-width: 8.33333;
    }
    .col-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66666%;
        flex: 0 0 16.66666%;
        max-width: 16.66666%;
    }
    .col-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66666%;
        flex: 0 0 41.66666%;
        max-width: 41.66666%;
    }
    .col-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66666%;
        flex: 0 0 66.66666%;
        max-width: 66.66666%;
    }
    .col-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66666%;
        flex: 0 0 91.66666%;
        max-width: 91.66666%;
    }
    .col-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}